/* Main CSS */
body {
  font-family: 'Roboto', sans-serif;
}

.custom-input {
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #212529;
  color: #fff;
}

.custom-btn {
  background-color: #17a2b8;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  border: none;
}

.bg-black {
  background-color: #178d00;
}

.text-white {
  color: #fff !important;
}

.text-opacity-75 {
  opacity: 0.75;
}

.text-center {
  text-align: center;
}

.custom-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.pressure,
.sunrise,
.sunset,
.degree {
  color: #fff;
  opacity: 0.75;
}

/* Add more styles as needed */
